################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Aufgabenserie 2/ServerApplication/bin
/Aufgabenserie 2/ServerApplication/obj
/Aufgabenserie 2/ServerApplication/.vs
/Aufgabenserie 2/ClientApplication/bin
/Aufgabenserie 2/ClientApplication/obj
/Aufgabenserie 2/ClientApplication/.vs
/Aufgabenserie 2/.vs

/Augabenserie 4/server-play-framework/.g8/*
/Augabenserie 4/server-play-framework/.idea/*
/Augabenserie 4/server-play-framework/logs/*
/Augabenserie 4/server-play-framework/target/*
/Augabenserie 4/target/*
