################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Aufgabenserie 2/ServerApplication/bin/Debug/test.txt
