@(messages: List[Message])

@main("Schwarzes Brett") {
<ul class="messageList">
    @if(flash.containsKey("invalidSession")) {
        <div class="alert alert-danger">@flash.get("invalidSession")</div>
    }
    <a href="/message/create" class="button">Create Message</a>
    @for(message <- messages) {
    <li><a href="@routes.MessageController.show(message.id)" class="btn btn-primary">
        <h4>@message.author</h4>
        <p>@message.message</p>
        <small>@message.creation</small>
    </a></li>
    }
</ul>
}
